# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/

# Django stuff:
db.sqlite3
/media/
/staticfiles/

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
